@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    background: theme("colors.bg.0");
    color: theme("colors.fg");
    font-family: theme("fontFamily.sans");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  button {
    font-family: inherit;
  }
}